{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
   /* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

p {
  margin-bottom: 20px;
}

</style>

<main>
    <p>beIN Sports is a global network of sports channels owned and operated by beIN Media Group, a Qatari media conglomerate. The network covers a wide range of sports, including football, basketball, tennis, motorsports, and more.</p>
    
    <p>The channels are available in various languages and regions, and offer coverage of live events, highlights, analysis, and other related programming. The network also offers digital streaming services through its website and mobile app.</p>
    
    <p>beIN Sports has acquired broadcasting rights for many major sports events and leagues, including the FIFA World Cup, UEFA Champions League, English Premier League, La Liga, NBA, and Formula 1.</p>
  </main>
{% endblock %}
